.cover-photo {
  background-image: url(../img/background-gradient.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-family: 'Karla', sans-serif;

  display: grid;
  justify-items: center;
  align-items: center;

  h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

nav a {
  display: block;
}
