#cover-photo {
  background-color: gold;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50% 0;

  font-family: "Karla", sans-serif;

  display: grid;
  justify-items: center;
  align-items: center;

  h1 {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

nav a {
  display: block;
}
