<section id="cover-photo">
  <header>
    <h1>Oscars 2018</h1>
    <nav>
      <a href="#features">Features</a>
      <a href="#second-takes">Second Takes</a>
      <a href="#predictions">And the Winner Is...</a>
    </nav>
  </header>
</section>

