<section id="cover-photo">
  <header>
    <h1>Living History: The 90th Academy Awards</h1>
    <nav>
      <a href="#features">Features</a>
      <a href="#second-takes">Second Takes</a>
      <a href="#predictions">And the Winner Is...</a>
    </nav>
  </header>
  <img src="img/oscar.svg">
</section>

