@import "./card/_card";

section h2 {
  font-family: "Josefin Sans";
  background: linear-gradient(transparent 70%, #ffe866 30%);
  display: inline-block;
  font-size: 3rem;
  height: 2.6rem;
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.article-card {
  h3 {
    font-family: "Josefin Sans";
  }
}

.card-container {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.container {
  margin: 0 4rem;
}

body {
  background-color: #efefef;
}
* {
  box-sizing: border-box;
}
.card {
  box-shadow: 0px 1px 5px #555;
  background-color: white;
}
.card__title {
  font-size: 2rem;
  padding: 0.5rem;
}
.card__description {
  padding: 0.5rem;
  line-height: 1.6em;
}

img {
  max-width: 100%;
}
