{% for section in sections %}
  <section id="{{ section.id }}">
    <h2>{{ section.title }}</h2>
    <div class="card-container">
      {% for article in section.articles %}
        {% include "./card/card.njk" %}
      {% endfor %}
    </div>
  </section>
{% endfor %}
