<section id="features">
  <h2>Features</h2>
  <div class="grid">
    <div class="article-card">
      <a href="#">
        <img src="http://via.placeholder.com/400x250" alt="">
        <h3>Title</h3>
        <span>Byline</span>
        <p>A program at UCLA is helping children with severe OCD through research-based therapy to guide them through stressful and intrusive thoughts.</p>
      </a>
    </div>
    <div class="article-card">
      <a href="#">
        <img src="http://via.placeholder.com/400x250" alt="">
        <h3>Title</h3>
        <span>Byline</span>
        <p>A program at UCLA is helping children with severe OCD through research-based therapy to guide them through stressful and intrusive thoughts.</p>
      </a>
    </div>
    <div class="article-card">
      <a href="#">
        <img src="http://via.placeholder.com/400x250" alt="">
        <h3>Title</h3>
        <span>Byline</span>
        <p>A program at UCLA is helping children with severe OCD through research-based therapy to guide them through stressful and intrusive thoughts.</p>
      </a>
    </div>
    <div class="article-card">
      <a href="#">
        <img src="http://via.placeholder.com/400x250" alt="">
        <h3>Title</h3>
        <span>Byline</span>
        <p>A program at UCLA is helping children with severe OCD through research-based therapy to guide them through stressful and intrusive thoughts.</p>
      </a>
    </div>
  </div>
</section>
