footer {
    background-color: #333;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    display: flex;
    justify-content: space-between;
}

.footer__db-logo {
    img {
        height: 3rem;
    }
    // margin-left: auto;
}

.footer__text {
    // align-self: center;
    text-align: center;
}