footer {
  background-color: #333;
  color: #fff;

  display: flex;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
}

.footer__placeholder {
  flex: 1;
  flex-basis: 100%;
}

.footer__text {
  flex: 3;
  // display: flex;
  // justify-content: flex-end;
  // align-items: center;
}

.footer__db-logo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    height: 3rem;
  }
}
