<articleheader>
    <h1>ARTICLE HEADLINE HERE</h1>
    <div id="byline">BYLINE GOES HERE</div>
    <div class="carousel">
        <img class="slider" src="https://pawelgrzybek.com/siema/assets/siema--pink.svg">
        <img class="slider" src="https://pawelgrzybek.com/siema/assets/siema--pink.svg">
        <img class="slider" src="https://blmparis.files.wordpress.com/2014/07/angle.jpg">
    </div>
</articleheader>
