{% extends "./components/default-layout.njk" %}

{% block content %}

{% include "./components/article-header/article-header.njk" %}

{% include "./components/article-body/article-body.njk" %}

{% include "./components/article-footer/article-footer.njk" %}

{% include "./components/footer/footer.njk" %}

{% include "./scripts/article-scripts.njk" %}

{% endblock %}