{% extends "./components/default-layout.njk" %}

{% block content %}
{% include "./components/header/header.njk" %}

<div class="container">
  {% include "./components/section/section.njk" %}

  <section id="predictions">
    <h2>And the Winner Is...</h2>

    <div class="prediction_container">

      <div class="prediction_text">
        <p>
          90 Bruin staffers from 21 section cast their predictions for this year's Academy Award winners.
        </p>
        <p>
          Explore their responses below.
        </p>
        <select id="mySelect">
          <option value="1">Best Picture</option>
          <option value="2">Best Actor in a Leading Role</option>
          <option value="3">Best Actress in a Leading Role</option>
          <option value="4">Best Actor in a Supporting Role</option>
          <option value="5">Best Actress in a Supporting Role</option>
          <option value="6">Best Animation Film</option>
          <option value="7">Best Director</option>
          <option value="8">Best Foreign Language Film</option>
          <option value="9">Best Music (Original Score)</option>
          <option value="10">Best Music (Original Song)</option>
          <option value="11">Best Writing (Original Screenplay)</option>
          <option value="11">Best Writing (Adapted Screenplay)</option>
        </select>
      </div>



      <div class="visualization">
        <canvas id="chart" height="300px" width="600px"></canvas>
      </div>

      <div class="empty"></div>

    </div>
  </div>

</div>
{% include "./components/scripts.njk" %}

{% include "./components/footer/footer.njk" %}

{% endblock %}


