{% extends "./components/default-layout.njk" %}

{% block content %}
{% include "./components/header/header.njk" %}

<div class="container">
  {% include "./components/section/section.njk" %}
  {% include "./components/predictions/predictions.njk" %}
</div>


{% include "./scripts/index-scripts.njk" %}

{% include "./components/footer/footer.njk" %}

{% endblock %}


