{% extends "./components/default-layout.njk" %}

{% block content %}
{% include "./components/header/header.njk" %}

<div class="container">
  {% include "./components/section/section.njk" %}
</div>

{% include "./components/footer/footer.njk" %}
{% endblock %}
